<!DOCTYPE html>
<html lang="zh" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-if="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>HDFS文件管理器</title>
    <script src="./js/vue.min.js"></script>
    <script src="./js/axios.min.js"></script>

    <style>
        .base {
            width: 50px;
            height: 50px;
        }

        .file {
            background-image: url(./image/direcory.png);
            background-size: cover;
        }

        .dir {
            background-image: url(./image/file.png);
            background-size: cover;
        }
    </style>
</head>
<body>
<div id="cur_working_path">
    <label>
        <input v-model.lazy="path" style="border-style: none;width: auto">
    </label>
</div>
<div id="button">
    <button v-on:click="my_upload">上传</button>
    <button v-on:click="my_download">下载</button>
    <button v-on:click="my_delete">删除</button>
    <button v-on:click="my_analysis">分析</button>
</div>
<div id="views">
    <p v-show="nothing">什么也没有</p>
    <ul v-if="showing_dir">
        <li v-for="a_view in dir_filename_list">
            <div>
                <label><input type="checkbox"></label>
                <div class="base" v-on:dblclick="cur_working_path.path=a_view.path"
                     v-bind:class="testObject(a_view.dir_or_file)" title="{{a_view.path}}"></div>
                <p>{{a_view.path}}</p>
            </div>
        </li>
    </ul>
    <p v-else>{{file_content}}</p>
</div>

<script>
    var test = [{"path": "/test/input", "dir_or_file": "dir"}, {"path": "/test/test_output", "dir_or_file": "file"}];

    var cur_working_path = new Vue({
        el: '#cur_working_path',
        data: {
            path: '/'
        }
    });
    var my_button = new Vue({
        el: '#button',
        methods: {
            my_upload: function (event) {
                alert('upload')
            },
            my_download: function (event) {
                alert('download')
            },
            my_delete: function (event) {
                alert('delete')
            },
            my_analysis: function (event) {
                alert('analysis')
            }
        }
    });
    var my_views = new Vue({
        el: '#views',
        data: {
            dir_filename_list: test,
            showing_dir : true,
            file_content : null,
            nothing : false
        },
        methods: {
            testObject: function (e) {
                if (e === 'file')
                    return {file: true};
                else return {dir: true};
            }
        }
    });

    cur_working_path.$watch('path', function (if_from_input) {
        get_json_from_hdfs(cur_working_path.path);
    });

    function get_json_from_hdfs(path) {
        alert(path);
        var tem;
        //my_views.dir_filename_list = [{"path": "/test/input/a", "dir_or_file": "file"}];
    }

    // 默认会加载 / 根目录
    get_json_from_hdfs('/');
</script>
</body>
</html>