<!DOCTYPE html>
<html lang="zh" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="utf-8">
    <title>HDFS文件管理器</title>
    <script src="./js/vue.min.js"></script>
    <script src="./js/axios.min.js"></script>
    <style>
        .dir_file_info {
            display: inline-block;
        }

        .base {
            width: 50px;
            height: 50px;
        }

        .file {
            background-image: url(./image/file.png);
            background-size: cover;
        }

        .dir {
            background-image: url(./image/direcory.png);
            background-size: cover;
        }
    </style>
</head>
<body>
<div id="cur_working_path">
    <label>
        <input v-model.lazy="path" style="border-style: none;width: 700px">
    </label>
</div>
<div id="button">
    <input type="file" v-on:change="my_upload">
    <input type="text" v-model.lazy="tem_dir_name">
    <button v-on:click="my_makedir">新建文件夹</button>
    <button v-on:click="my_download">下载</button>
    <button v-on:click="my_delete">删除</button>
    <div>
        <ul style="list-style:none">
            <li v-for="a_method in method_list" style="display:inline;">
                <input type="radio" name="method" v-bind:value="a_method" v-model="checked_method">{{a_method}}
            </li>
        </ul>
        <button v-on:click="my_analysis">分析</button>
    </div>
    <div>
        <ul style="list-style:none">
            <li v-for="a_chart in chart_list" style="display:inline;">
                <input type="radio" name="chart" v-bind:value="a_chart" v-model="checked_chart">{{a_chart}}
            </li>
        </ul>
        <button v-on:click="my_show_chart">结果可视化</button>
    </div>
</div>
<div id="views">
    <ul v-if="showing_dir" style="list-style:none">
        <li v-for="a_view in dir_filename_list">
            <div>
                <div class="dir_file_info"><input type="checkbox" v-model="check_list" v-bind:value="a_view.path"></div>
                <div class="base dir_file_info" v-on:dblclick="cur_working_path.path=a_view.path"
                     v-bind:class="testObject(a_view.dir_or_file)" v-bind:title="a_view.path"></div>
                <div class="dir_file_info"><p>{{a_view.path}}</p></div>
            </div>
        </li>
    </ul>
    <p v-else>{{file_content}}</p>
</div>

<script>
    var cur_working_path = new Vue({
        el: '#cur_working_path',
        data: {
            path: '/'
        }
    });
    var my_button = new Vue({
        el: '#button',
        data: {
            tem_dir_name: null,
            method_list: [],
            chart_list: [],
            checked_method: null,
            checked_chart: null
        },
        methods: {
            my_upload: function (event) {
                var reader = new FileReader();
                reader.readAsText(event.target.files[0]);
                reader.onload = function (ev) {
                    axios.post('fs/upload', {
                        'filepath': cur_working_path.path + '/' + event.target.files[0].name,
                        'content': this.result
                    }).then(function (response) {
                        get_json_from_hdfs(cur_working_path.path);
                        alert(response.data);
                    }).catch(function (reason) {
                        alert('文件上传失败')
                    })
                };
                alert("上传中");
            },
            my_makedir: function (event) {
                axios.get('fs/mk?dir_name=' + cur_working_path.path + '/' + this.tem_dir_name)
                    .then(function (response) {
                        get_json_from_hdfs(cur_working_path.path);
                        alert(response.data);
                    }).catch(function (reason) {
                    alert('文件夹创建失败')
                });
            },
            my_download: function (event) {
                var a = document.createElement('a');
                for (var i in my_views.check_list) {
                    a.href = 'fs/download?download_filename=' + my_views.check_list[i];
                    a.click();
                }
            },
            my_delete: function (event) {
                alert("确认删除？" + my_views.check_list);
                axios.get('fs/rm?delete_list=' + my_views.check_list)
                    .then(function (response) {
                        get_json_from_hdfs(cur_working_path.path);
                        my_views.check_list = [];
                        alert(response.data);
                    }).catch(function (reason) {
                    alert('删除失败')
                });
            },
            my_analysis: function (event) {
                if (my_views.check_list.length !== 1 && this.checked_method !== undefined) alert('只能选择一个文件/文件夹且必须要选择一个用以分析的方法');
                else {
                    axios.get('analysis?path=' + my_views.check_list[0] + '&method=' + this.checked_method)
                        .then(function (response) {
                            get_json_from_hdfs(cur_working_path.path);
                            my_views.check_list = [];
                            get_json_from_hdfs(cur_working_path.path);
                            if (response.data.status === 'success') alert("完成");
                            else alert("失败，原因是 " + response.data.content);
                        }).catch(function (reason) {
                        console.log(reason);
                        alert('失败')
                    });
                    alert("分析可能用时很长，甚至会超出超时设置，请耐心等待下一条弹框，进度条在未来实现");
                }
            },
            my_show_chart: function (event) {
                if (my_views.check_list.length !== 1 && this.checked_chart !== undefined) alert('只能选择一个文件且必须要选择一个用以分析的图表');
                else {
                    window.open('visualizing?filename=' + my_views.check_list[0] + '&chart=' + this.checked_chart);
                }
            }
        }
    });
    var my_views = new Vue({
        el: '#views',
        data: {
            dir_filename_list: null,
            showing_dir: true,
            file_content: null,
            check_list: []
        },
        methods: {
            testObject: function (e) {
                if (e === 'file')
                    return {file: true};
                else return {dir: true};
            }
        }
    });

    cur_working_path.$watch('path', function () {
        get_json_from_hdfs(cur_working_path.path);
    });

    function get_json_from_hdfs(path) {
        my_views.check_list = [];

        axios.get('fs/list?path=' + path)
            .then(function (response) {
                console.log(response.data);
                if (response.data.status === 'wrong') {
                    my_views.showing_dir = false;
                    my_views.file_content = '出错  ' + response.data.content;
                } else if (response.data.status === 'dir') {
                    if (response.data.content.length === 0) {
                        my_views.showing_dir = false;
                        my_views.file_content = '空空如也';
                    } else {
                        my_views.showing_dir = true;
                        my_views.dir_filename_list = response.data.content;
                    }
                } else {
                    my_views.showing_dir = false;
                    my_views.file_content = response.data.content;
                }
            })
    }

    // 初始化可选的分析方法
    axios.get('get_all_method')
        .then(function (response) {
            my_button.method_list = response.data.all_analysis;
            my_button.chart_list = response.data.all_charts;
        }).catch(function (reason) {
        alert('服务器连接失败');
    });
    // 默认会加载 / 根目录
    get_json_from_hdfs('/');
</script>
</body>
</html>