<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>分析结果展示</title>
    <script src="https://cdn.bootcss.com/echarts/2.2.7/echarts-all.js"></script>
    <script src="./js/axios.min.js"></script>
</head>
<body>
<div id="main" style="width: 1200px;height: 800px;"></div>
<script>
    var host = 'http://localhost:8080/';
    // 获取传递过来的filename参数
    var all_param = window.location.search.substring(1).split("&");
    var filepath = all_param[0].split('=')[1];
    var my_method = all_param[1].split('=')[1];
    var myChart = echarts.init(document.getElementById('main'));
    var option;
    myChart.showLoading();

    axios.get(host + 'echarts_json?filepath=' + filepath + '&chart=' + my_method)
        .then(function (response) {
            myChart.hideLoading();
            option = response.data;
            myChart.setOption(option);
        }).catch(function (reason) {
        console.log(reason);
        alert('失败')
    });
</script>
</body>
</html>